@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-rgb: 1, 86, 255;
  --secondary-rgb: 255, 184, 0;
  --tertiary-rgb: 245, 247, 255;
  --quaternary-rgb: 245, 247, 255;
}

.unshowscrollbar::-webkit-scrollbar {
  display: none;
}

.unshowscrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

body {
  position: relative;
}
